.club{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.token-box h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;
}