.main {
  background-image: url("../../assets/main-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-box{
    margin: auto;
    max-width: 730px;
    width: 100%;
    height: auto;
    padding-top: 13%;
}
.card-content {
  backdrop-filter: blur(5px);
  background: linear-gradient(
    90deg,
    rgba(52, 18, 64, 0.5) 0%,
    rgba(0, 31, 78, 0.5) 51.04%,
    rgba(35, 20, 68, 0.5) 100%
  );
  border: 4px solid rgba(255, 255, 255, 0.2);
    text-align: center;
  border-radius: 16px;
  padding: 6%;
}
